{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "comma-dangle": ["error", "never"],
    "max-len": ["warn", {
      "code": 120,
      "ignoreComments": true,
      "ignoreTrailingComments": true,
      "ignoreUrls": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "no-console": "warn",
    "class-methods-use-this": "warn",
    "react/forbid-prop-types": "warn",
    "react/no-unescaped-entities": "off",
    "react/prefer-stateless-function": "off",
    "react/require-default-props": "off",
    // Very weird bug from eslint, for propTypes used in componentWillReceiveProps, if add proptypes it says unused, if not it says missing
    "react/prop-types": "off"
  },
  "globals": {
    "document": true,
    "window": true
  }
}
